<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">Talent Hunt</a>
      <form class="form-inline">

        </button>&nbsp
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <a href="{% url "th:logout"%}">Logout</a>
        </button>
      </form>
    </nav>
  </head>
  <body><br><br>
    <h1>Welcome Consultant</h1><br><br>
    <a href="{% url "th:createaudtion"%}"><button type="button" name="button">Create Auditions</button></a>
    <a href="{% url "th:manageaudtion"%}"><button type="button" name="button">Manage Auditions</button></a>

  </body>
</html>
