<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create Auditions</h1>
    <a href="{% url "th:logout"%}">Logout</a><br><br><br>
    <a href="{% url "th:consultdashboard"%}">Home</a><br><br><br>
    <a href="{% url "th:createactor"%}"><button>Actor</button></a>
    <a href="{% url "th:createmodel"%}"><button>Model</button></a>
    <a href="{% url "th:createdancer"%}"><button>Dancer</button></a>
    <a href="{% url "th:createsinger"%}"><button>Singer</button></a>
  </body>
</html>
