<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
  </head>
  <body>
    <h1>Create Singer Auditions</h1>
    <a href="{% url "th:logout"%}">Logout</a><br><br><br>
    <a href="{% url "th:consultdashboard"%}">Home</a><br><br><br>

    <form method="post">
      {% csrf_token %}
      <label for="">Name</label>
      <input type="text" name="name" value="" required><br><br>
      <label for="">Description</label>
      <textarea name="desc" rows="8" cols="80" required></textarea><br><br>
      Movies
      <input type="checkbox" name="movie" value="Drawing" />
      Serial title track
      <input type="checkbox" name="serial" value="Singing" />
      <br />
      <input type="submit" name="" value="Submit">
    </form>

  </body>
</html>
