<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
  </head>
  <body>
    <a href="{% url "th:logout"%}">Logout</a><br><br>
    <h1>Welcome Model</h1>
<br><br>

      {% if data1 %}
      <br><h1>Catalog Shoot</h1><br>
      <table>
      {% for i in data1 %}
      <tr>
        <td>{{i.name}}</td>
        <td><a href="{% url "th:enroll" value=i.aid%}"><button>Enroll</button></a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}
      </table>
      {% if data2 %}
      <br><h1>Hoarding</h1><br>
      <table>
      {% for i in data2 %}
      <tr>
        <td>{{i.name}}</td>
        <td><a href="{% url "th:enroll" value=i.aid%}"><button>Enroll</button></a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}
      </table>
      {% if data3 %}
      <br><h1>Mr\Mrs India Contest</h1><br>
      <table>
      {% for i in data3 %}
      <tr>
        <td>{{i.name}}</td>
        <td><a href="{% url "th:enroll" value=i.aid%}"><button>Enroll</button></a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}

      {% if data4 %}
      <br><h1>Ramp</h1><br>
      <table>
      {% for i in data4 %}
      <tr>
        <td>{{i.name}}</td>
        <td><a href="{% url "th:enroll" value=i.aid%}"><button>Enroll</button></a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}

  </body>
</html>
