<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="{% url "th:logout"%}">Logout</a><br><br>
    <h1>Welcome Singer</h1>
<br><br>

      {% if data1 %}
      <br><h1>Movie Track</h1><br>
      <table>
      {% for i in data1 %}
      <tr>
        <td>{{i.name}}</td>
        <td><a href="{% url "th:enroll" value=i.aid%}"><button>Enroll</button></a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}
      </table>
      {% if data2 %}
      <br><h1>Serial Track</h1><br>
      <table>
      {% for i in data2 %}
      <tr>
        <td>{{i.name}}</td>
        <td><a href="{% url "th:enroll" value=i.aid%}"><button>Enroll</button></a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}
      </table>

  </body>
</html>
